{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Registrazione utente</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit">
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fp_gestione_utente') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

