app/cache/*
app/logs/*
/nbproject/private/
/app/var/sessions/
/web/images/*
/web/.htaccess
app/config/parameters.yml
.gitignore
/web/bundles/
/web/js/
/web/css/
/web/fonts/*
/app/bootstrap*
/vendor/
composer.phar
composer.lock
*~
*.pdf
*.php~
/nbproject/
/nbproject/*
nbproject/project.properties
/cache/*
/bin/
/vich-uploader-sandbox/
/web/
/composer.json
/app/config/
/app/Resources/
/app/