{% extends '::base.html.twig' %}

{% block body %}



{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('examples_dependent_selects_location_new') }}">Crear Localización</a></li>
                <li class="list-group-item">Editar Localización
                    <ul>
                        {% for city in cities %}
                            <li><a href="{{ path('examples_dependent_selects_location_edit', {'slug': city.slug}) }}">{{ city.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% endblock %}